<!DOCTYPE html>
<html>
<title>Калькулятор разницы времени старта и финиша</title>
<script src="./timecalc_files/angular.min.js"></script>
   <link href="./timecalc_files/bootstrap.min.css" rel="stylesheet">
   <script src="./timecalc_files/mask.min.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table 
		{
			font-size: 10px;
		}
	</style>
<body>

<script>
var app = angular.module("myShoppingList", ['ui.mask']);  


app.filter('getTime', function() {
    return function(result) {
        var resStartInSec, resFinishInSec, delta ;
		if ( result.start.split(':')[0] > 24 || result.start.split(':')[0]<0) { return "Часы  старта в неправильном диапазоне" }
		if ( result.start.split(':')[1] > 59 || result.start.split(':')[1]<0) { return "Минуты старта в неправильном диапазоне"}
		if ( result.start.split(':')[2] > 59 || result.start.split(':')[2]<0) { return "Секунды старта в неправильном диапазоне" }
		
		if ( result.finish.split(':')[0] > 24 || result.finish.split(':')[0]<0) { return "Часы  финиша в неправильном диапазоне" }
		if ( result.finish.split(':')[1] > 59 || result.finish.split(':')[1]<0) { return "Минуты финиша в неправильном диапазоне"}
		if ( result.finish.split(':')[2] > 59 || result.finish.split(':')[2]<0) { return"Секунды финиша в неправильном диапазоне" }
		
		
		resStartInSec = result.start.split(':')[0]*3600 + result.start.split(':')[1]*60+ result.start.split(':')[2]*1;
		resFinishInSec = result.finish.split(':')[0]*3600 + result.finish.split(':')[1]*60+ result.finish.split(':')[2]*1;
       delta = resFinishInSec - resStartInSec;
	    
	    if (delta < 0)
	    {
		return "Время старта раньше времени финиша!";    
	    }
	   
	   var h = delta/3600 ^ 0 ;
       var m = (delta-h*3600)/60 ^ 0 ;
       var s = delta-h*3600-m*60 ;
        return ((h<10?"0"+h:h)+":"+(m<10?"0"+m:m)+":"+(s<10?"0"+s:s));
    };
});

app.filter('getSec', function() {
    return function(result) {
        var resStartInSec, resFinishInSec, delta ;
		resStartInSec = result.start.split(':')[0]*3600 + result.start.split(':')[1]*60+ result.start.split(':')[2]*1
		resFinishInSec = result.finish.split(':')[0]*3600 + result.finish.split(':')[1]*60+ result.finish.split(':')[2]*1
       delta = resFinishInSec - resStartInSec;

        return delta;
    };
});

app.controller("myCtrl", function($scope) {
    $scope.results = [];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addNumber) {
		
		return;
		}
		if (!$scope.addSt) {return;}
		if (!$scope.addFin) {return;}
       // if ($scope.rezults.indexOf($scope.addNumber) == -1) {
            $scope.results.push({number:$scope.addNumber, start: $scope.addSt, finish: $scope.addFin, fio: $scope.addFio });  //} else {
          //  $scope.errortext = "The item is already in your shopping list.";
        //}
    }
	
	
    $scope.removeItem = function (result) {
        $scope.errortext = "";    
       // $scope.results.splice(x, 1);
	    $scope.results.splice($scope.results.indexOf(result),1);
    }
	

	 
	 
	 
        $scope.myOrderBy =  function(result) {
		
		  var resStartInSec, resFinishInSec, delta ;
		resStartInSec = result.start.split(':')[0]*3600 + result.start.split(':')[1]*60+ result.start.split(':')[2]*1
		resFinishInSec = result.finish.split(':')[0]*3600 + result.finish.split(':')[1]*60+ result.finish.split(':')[2]*1
       delta = resFinishInSec - resStartInSec;

        return delta;
   
};
    
});





</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="container" style="width:100%;">
  
  
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ввод данных</h3>
  </div>
  <div class="panel-body">
   <div class="panel-body">
  Время вводится формате чч:мм:сс (возможен ввод только цифр)
  </div>
  
  <form role="form">
<div class="row">
  <div class="col-xs-12 col-sm-1">
    <input type="number" class="form-control" placeholder="Номер" ng-model="addNumber" style="margin-bottom: 5px;" >
  </div>
  <div class="col-xs-12 col-sm-2">
    <input type="text" class="form-control time" placeholder="Время старт" ng-model="addSt" maxlength="8" inputmode="numeric" style="margin-bottom: 5px;" ui-mask="99:99:99"  ui-mask-placeholder ui-mask-placeholder-char="0" model-view-value="true">
  </div>
  <div class="col-xs-12 col-sm-2">
    <input type="text"  class="form-control time" placeholder="Время финиш" ng-model="addFin" maxlength="8" inputmode="numeric" style="margin-bottom: 5px;" ui-mask="99:99:99"  ui-mask-placeholder ui-mask-placeholder-char="0" model-view-value="true">
 </div>
 
 <div class="col-xs-12 col-sm-5">
    <input type="text" class="form-control" placeholder="ФИО" ng-model="addFio" style="margin-bottom: 5px;" >
  </div>
  
  <div class="col-xs-12 col-sm-2">
    <button ng-click="addItem()" type="submit"  class="btn btn-primary btn-block">Добавить</button>
   </div>
</div>
</form>
  </div>
</div>





<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Участники</h3>
  </div>
  <div class="panel-body">
  
  <div class="input-group">
  <span class="input-group-addon">№</span>
  <input type="text" class="form-control" ng-model="number" placeholder="Поиск"> 
  
</div>
<hr>

  <div class="panel-body">
  Сортировка производится по времени
  </div>

 <table class="table  table-bordered">
<tr>
   <td>#</td>
    <td>Номер</td>
    <td>ФИО</td>
	<td>Время <br>(старт)</td>
	<td>Время <br>(финиш)</td>
	<td>Итог</td>
	<td></td>

	
  </tr>
  <tbody>
  <tr ng-repeat="result in results | filter : number | orderBy: myOrderBy track by $index ">
    <td>{{ $index + 1 }}</td>
	<td>{{ result.number }}</td>
	<td>{{ result.fio }}</td>
    <td>{{ result.start }}</td>
    <td>{{ result.finish }}</td>
    <td>{{ result |getTime }}</td>

   
    
	 <td>
	 <button type="button" ng-click="removeItem(result)" class="btn btn-danger">×</button>
	</td>
  </tr>
  </tbody>
</table>
  </div>
</div>




 
</div>

</body>
</html>
